
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway:wght@500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #fff;
}
.container{
    max-width: 1700px;
    margin: 0 auto;
    border: 2px solid black;
}
.banner{
    display: flex;
    height: 100vh;
}
.banner-left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.banner-title{
    font-size: 60px;
    position: relative;
    color: transparent;
}
.banner-title::after{
    content: 'Friends & family';
    color: #22ebdd;
    position: absolute;
    left: 0px;
    top: 0px;
    animation: typing 3s linear 0s infinite alternate;
}

@keyframes typing {
    0%{
        content: '|';
    }
    5%{
        content: 'F|';
    }
    10%{
        content: 'Fr|';
    }
    15%{
        content: 'Fri|';
    }
    20%{
        content: 'Frie|';
    }
    25%{
        content: 'Frien|';
    }
    30%{
        content: 'Friend|';
    }
    35%{
        content: 'Friends|';
    }
    40%{
        content: 'Friends |';
    }
    45%{
        content: 'Friends &|';
    }
    50%{
        content: 'Friends & |';
    }
    55%{
        content: 'Friends & f|';
    }
    60%{
        content: 'Friends & fa|';
    }
    65%{
        content: 'Friends & fam|';
    }
    70%{
        content: 'Friends & fami|';
    }
    75%{
        content: 'Friends & famil|';
    }
    80%{
        content: 'Friends & family|';
    }
    81%,100%{
        content: 'Friends & family';
    }
}
.banner-right{
    flex: 1;
    display: flex;
    align-items: center;
   }
   .banner-right .group-photo img{
       width: 725px;
       border: 4px solid #22ebdd;
   }
.banner-text{
    margin: 20px 0px;
    line-height: 1.9;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.juels-family-button{
    outline: none;
    color: #000;
    padding: 10px 30px;
    font-size: 30px;
    border: 4px solid #22ebdd;
    background-color: #22ebdd;
    box-shadow: 10px 10px 10px #000;
    cursor: pointer;
    transition: .3s ease-out;
}
.juels-family-button:hover{
    background-color: transparent;
    color: #22ebdd;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.gallery-title{
    text-align: center;
}
.gallery-title h1{
 font-size: 40px;
 color: #22ebdd;
 margin: 50px 0px;
 display: inline-block;
 line-height: .8;
 padding: 0px 10px;
 border-left: 3px solid #22ebdd;
 border-right: 3px solid #22ebdd;
}
.picture{
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.picture img{
    position: absolute;
    transition: transform .3s ease-out;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.picture:hover img{
    transform: scale(1.10);
}
.border{
    background-color: #fff;
    position: absolute;
    transition: .7s linear;
    z-index: 2;
}
.border.left,.border.right{
    width: 5px;
    height: 295px;
}
.border.top,.border.bottom{
    height: 5px;
    width: 295px;
}
.border.left{
    left: 0px;
    top: 100%;
}
.border.right{
    right: 0px;
    bottom: 100%;
}
.border.top{
    right: 100%;
    top: 0px;
}
.border.bottom{
    bottom: 0px;
    left: 100%;
}
.picture:hover .border.left{
    top: 0px;
}
.picture:hover .border.right{
    bottom: 0px;
}
.picture:hover .border.top{
   right: 0px;
}
.picture:hover .border.bottom{
    left: 0px;
}
.picture-content{
    position: relative;
    left: 0px;
    top: 100%;
    color: #fff;
    font-weight: bold;
    z-index: 3;
}
.picture:hover .picture-content{
    padding-left: 30px;
    top: 200px;
}
.picture::after{
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 4;
    transition: .3s linear;
}
.picture:hover::after{
    background-color:  rgba(0, 0, 0, 0.5);
}